<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
    <input v-model="weight"> kg<br>
    <span>Wzrost: </span>
    <input v-model="height"> cm
    <p>Wskaźnik BMI: {{ bmi }}</p>
  </div>
  <script>
    var app = new Vue({
        el: '#app',
        data: {
            weight: 0,
            height: 0
        },
        computed: {
            bmi: function() {
                return this.weight/Math.pow(this.height/100, 2)
            }
        }
    });
  </script>

</body>
</html>